# Ignore virtual environment
venv/
.Venv/
env/
.Env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints (if using Jupyter)
.ipynb_checkpoints/

# Ignore logs and temp files
*.log
*.tmp

# Ignore system files
.DS_Store
Thumbs.db
